/*
   * Remove template code below
   */
:host {
  display: block;
  font-family: sans-serif;
}

header {
  padding: 20px;
  box-shadow: 1px 1px 8px black;
  font-size: 25px;
  font-weight: bold;
  color: steelblue;
}