.profile-title-wrap {
    margin-bottom: 20px;
    border: 2px solid blue;
    border-radius: 6px;
    padding: 5px;
}

.m-f-update>mat-form-field {
    margin-right: 5px;
}

.preClose {
    cursor: pointer;
    color: orangered;
    margin-top: 20px;
    display: inline-block;
}