.profile-title-wrap {
    margin: 20px 0;
    border: 4px solid #cabae9;
    border-radius: 6px;
    padding: 5px;
}
.m-f-update {
    font-size: 12px;
}
.m-f-update>mat-form-field {
    margin-right: 5px;
}

.preClose {
    cursor: pointer;
    color: orangered;
    margin-top: 20px;
    display: inline-block;
}
.preClosedStyle {
    margin-bottom: 10px;
    color: #fff;
    background: #ed817a;
    border-radius: 5px;
    padding: 5px
}